[submodule "keyswitches.pretty"]
	path = keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty
[submodule "Type-C.pretty"]
	path = Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty
[submodule "keyboard_parts.pretty"]
	path = keyboard_parts.pretty
	url = https://github.com/colemarkham/keyboard_parts.pretty
